/* RESET */

/* Importação da font roboto para o projeto */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body{
   /*altura da tela 100vh è igual a 100%*/
  height: 100vh;
  font-size: 62.5%; /*padronizando o tamanho da letra*/
  overflow: hidden; /*hidden -> não permite rolar a tela*/
}

body{
  background-color: #cccccc;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

/* Definido a font roboto como padrão */
*{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}

h1{ font-size: 4.8em; }
h2{ font-size: 3.8em; }
h3{ font-size: 2.8em; }
h4{ font-size: 1.8em; }
h5{ font-size: 1.8em; font-weight: bolder; }
h6{ font-size: 1.6em; }
p{ font-size: 1.6em; }
span{ font-size: 1.4em; }
label{ font-size: 1.6em; }
a{ 
  font-size: 1.4em;
  text-decoration: none;
  cursor: pointer;
 }


/* FIM DO RESET */



